/*=== GERAL =================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: orange;
  --headline: black;
  --paragraph: white

  --brand-beige: black;
  --brand-light: white;

  font-size: 62.5%; /* 1rem = 10px */

  --nav-height: 7.2rem;
}

html{
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: white;
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

ul {
  list-style: none;
}
img {
  max-width: 100%;
  margin-block: 2rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 0.6rem;
}

section{
  padding-block: 5rem;

}

section header h4{
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-bottom: 1.6rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.08rem ;
  text-transform: uppercase;

}
section header h2{
  font-size: 3rem;
  line-height: 3.9rem;
  
}
section header h1{
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 2.4rem;
}
section .content p{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  color: black;
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

.button {
  background: var(--primary-color);

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;
  margin-top: 4rem;
  padding: 1.6rem 3.2rem;
  width: fit-content;

  margin-inline: auto;
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  border: 1px solid black;

  text-decoration: none;
}
.button:hover{
  background-color: orangered ;

  transition: background .2s;
}


/*=== NAVIGATION =================================*/
nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;

}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.scroll {
  background: var(--primary-color);
  
  position: fixed;
}

nav.scroll svg:nth-child(1) path {
  fill: white;
}

nav.scroll button path {
  stroke: white;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}


/*=== MENU-EXPANDED =================================*/

.menu{
  transform: translateY(100%);
}

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

body.menu-expanded .menu {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--primary-color);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transition:transform 300ms;

  transform: translateY(0);
}



.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.menu .button {
  background:orange;
  border-radius: 4rem;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid black;
  color: white;

  display: inline-block;
  padding: 16px 32px;

  margin-top: 4.8rem;
  margin-bottom: 8rem;
}
.menu .button:hover{
  background-color: orangered;
  color: black;
}


body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}

body.menu-expanded .logo path {
  fill: white;
}

body.menu-expanded button path {
  stroke: white;
}



/*=== #HOME =================================*/
#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  width: 100%;
  height: calc(108rem + var(--nav-height));
  background-color: var(--brand-light);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#home .button{
  margin-inline: auto;
}


#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);

  margin-bottom: 3.2rem;
}

#home img {
  width: 26.4rem;
  display: block;
  margin-inline: auto;
  object-position: 0 0rem;
}

#home .stats {
  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;

  background-color: orange;
  border: 1px solid black;
  border-radius: 0.6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;
}

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 0.4rem;
}

#home .stat p {
  margin: 0;
  color: white;
  font-size: 1.6rem;
  line-height: 150%;
}



/*=== ASSIGNMENTS=================================*/

#assignments header h2{
  margin-bottom: 6rem;
}

#assignments .card{
  display: flex;
  flex-direction:column;
  gap: 3.2rem;
  margin-bottom: 1.5rem;
  margin-top: 1.8rem;

  padding: 2.4rem;
  text-align: left;

  background-color: orange;

  border: 1px solid black;
  border-radius: 0.6rem;


}
#assignments .card h3{
  margin-block: 1.6rem;
}


/*=== ABOUT=================================*/

#about{
  text-align: left

}

#about wrapper img {
  margin-top: 1.5rem;
}
#about .wrapper p{
  margin-top: 2.4rem;
}

/*=== CONTACT =================================*/

#contact{
  text-align: center;
}

#contact header{
  margin-bottom: 3.2rem;
}
#contact ul{
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  margin-bottom: 3.2rem;

  
}

#contact ul li{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
#contact ul li p {
  text-align: center;
}

/*=== FOOTER =================================*/


footer{
  background-color: orange;
  padding-block: 6rem;
  font-weight: 600;
  text-align: center;

  color: white;
}
footer .logo{
  display: inline-block;
  margin-bottom: 2.4rem;
}


footer .logo path{
  fill: white;
}

footer p{
  color: white;
  line-height: 2;

  margin-bottom: 3.2rem;
}

/******************BACK TO TOP**********************/
#backToTop{
  position: fixed;
  bottom: 1rem;
  right: 2.5rem;

  opacity: 0;
  visibility: hidden;

  transform: translateY(100%);
  transition: 200ms;
}
#backToTop.show{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

















/****ingnorar******/
/*crtl + a ctrl k + ctrl 1

esconde tudo nuvelk 1*/
